{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<h1>Contact</h1>
<section class="contact-section">
    <div class="contact-container">

        <h2>Vous souhaitez nous écrire ?</h2>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {{ form_start(form, {'attr': {'class': 'contact-form'}}) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.email) }}
            {{ form_row(form.message) }}
            <button type="submit">Envoyer</button>
        {{ form_end(form) }}

    </div>
</section>

{% endblock %}