{% extends 'base.html.twig' %}

{% block title %}PanierProduit{% endblock %}

{% block body %}
    <h1>PanierProduit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ panier_produit.id }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ panier_produit.quantite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_panier_produit_index') }}">back to list</a>

    <a href="{{ path('app_panier_produit_edit', {'id': panier_produit.id}) }}">edit</a>

    {{ include('panier_produit/_delete_form.html.twig') }}
{% endblock %}
